<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SourceCodeDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>98F3C7EE1F53AAB500C69BE1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>98F3C8071F53AAB500C69BE1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>98F3C8121F53AAB500C69BE1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
